.pages-header {
   display: flex;
   flex-direction: column;
}
.pages-header__label {
   line-height: 2;
   letter-spacing: 3px;
   text-transform: uppercase;
   color: #ef6d58;
   margin-block-end: 24px;
}
.pages-header__title {
   font-size: 72px;
   font-weight: 800;
   letter-spacing: -2px;
   line-height: 80px;
   margin-block-end: 24px;
}
.pages-header__text {
   line-height: 2;
   color: rgba(255, 255, 255, 0.64);
   margin-block-end: 32px;
}
.pages-header__text p:not(:last-child) {
   margin-block-end: 10px;
}

.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 138px;
   height: 48px;
   border-radius: 6px;
   font-weight: 900;
   font-size: 14px;
   text-transform: uppercase;
   border: 1px solid rgba(255, 255, 255, 0.3);
   transition:
      border-color 0.3s ease,
      background-color 0.3s ease;
}

.button:hover {
   border-color: #fff;
   background-color: #0b0d2b;
}
.button--red {
   background-color: #ef6d58;
   border: none;
}
.button.button--red:hover {
   background-color: #b550f8;
}
.button--link {
   border: none;
   text-transform: capitalize;
   font-weight: 400;
   line-height: 2;
}
.button.button--link:hover {
   text-decoration: underline;
   background-color: transparent;
}
