.hero {
   padding-block: 114px 56px;
}
.hero__container {
   display: flex;
   align-items: start;
   justify-content: space-between;
   column-gap: 87px;
   row-gap: 20px;
   /* flex-wrap: wrap-reverse; */
}
.hero__content {
   flex-basis: 513px;
   flex-shrink: 1;
   flex-grow: 1;
}
.hero__pages-header {
   padding-top: 24px;
   margin-block-end: 108px;
   max-width: 480px;
}
.hero__pages-header .pages-header__title {
   position: relative;
   z-index: 5;
}
.hero__pages-header .pages-header__title span {
   /* z-index: 5; */
   position: relative;
}
.hero__pages-header .pages-header__title span::before {
   content: "";
   position: absolute;
   top: -35px;
   right: -50px;
   width: 148px;
   background-image: url("../img/hero/star.svg");
   background-repeat: no-repeat;
   background-size: 148px 148px;
   height: 148px;
   z-index: -1;
}

.signature {
   display: flex;
   align-items: center;
   column-gap: 28px;
   line-height: 2;
}

.signature__img {
   flex-shrink: 0;
   flex-basis: 38px;
}
.signature__image img {
   max-width: 100%;
   aspect-ratio: 38 /43;
}
.signature__text {
   color: rgba(255, 255, 255, 0.64);
}
.pages-header__buttons {
   display: flex;
   column-gap: 46px;
}

.hero__image {
   flex-basis: 50%;
   align-self: center;
   flex-shrink: 1;
   flex-grow: 1;
}
.hero__image img {
   max-width: 100%;
   max-height: 100%;
   object-fit: cover;
   aspect-ratio: 570 / 602;
   border-radius: 6px;
}
@media (max-width: 1199.98px) {
   .hero {
      padding-block: 60px 56px;
   }
   .hero__container {
      column-gap: 30px;
   }
   .hero__pages-header {
      margin-block-end: 50px;
   }
   .hero__signature.signature {
      justify-content: end;
   }
}
@media (max-width: 991.98px) {
   .hero {
      padding-block: 30px 36px;
   }
   .hero__container {
      flex-direction: column-reverse;
      align-items: center;
   }
   .hero__pages-header {
      max-width: 100%;
   }
   .hero__image {
      max-width: 100%;
   }
   .hero__pages-header .pages-header__title {
      max-width: 90%;
      font-size: 56px;
   }

   .hero__pages-header .pages-header__title span::before {
      top: -45px;
   }
}

@media (max-width: 767.98px) {
   .hero__container {
      column-gap: 0;
   }
   .pages-header__buttons .button {
      width: 30%;
      font-size: 18px;
      height: 54px;
   }
}

@media (max-width: 624.98px) {
   .hero__container {
      justify-content: start;
   }
   .pages-header__buttons .button {
      width: 50%;
      font-size: 18px;
      height: 54px;
   }
   .hero__pages-header .pages-header__title {
      max-width: 100%;
      font-size: 48px;
      line-height: 1.2;
   }

   .hero__pages-header .pages-header__title span::before {
      top: -50px;
   }
   .pages-header__buttons {
      flex-direction: column;
      row-gap: 16px;
   }
   .pages-header__buttons .button {
      width: 100%;
   }
   .hero__image {
      /* max-width: 100%; */
      max-height: 100%;
   }
}
