@import "reset.css";
@import "fonts.css";
@import "common.css";
@import "header.css";
@import "hero.css";

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: clip;
   background-color: #28293e;
   color: #fff;
   font-family: "Epilogue", Arial, Helvetica, sans-serif;
   font-size: 16px;
   font-weight: 400;
}
[class*="__container"] {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
main {
   flex-grow: 1;
}
