.advice {
   padding-block: 169px 108px;
}
.advice__container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   column-gap: 30px;
   row-gap: 80px;
   grid-template-rows: auto;
   align-items: center;
}

.advice__page-header {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
}
.advice__page-header .page-header__text {
   margin-block-end: 0;
}
.advice__items {
   grid-column: 1 / 2;
   grid-row: 2 / 3;
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
}
.advice__item {
   flex-basis: 255px;
   flex-grow: 0;
   flex-shrink: 1;
}
.item-advice {
   display: flex;
   flex-direction: column;
   column-gap: 30px;
   align-items: flex-start;
}
.item-advice__icon {
   margin-block-end: 14px;
   inline-size: 36px;
   block-size: 36px;
}
.item-advice__icon img {
   inline-size: 100%;
   object-fit: cover;
   aspect-ratio: 36 / 36;
}
.item-advice__title {
   font-weight: 500;
   line-height: 1.62;
   color: #091133;
   margin-block-end: 6px;
}
.item-advice__text {
   line-height: 1.5;
   color: #5d6970;
   font-size: 12px;
   inline-size: 255px;
}
.item-advice__text p:not(:last-child) {
   margin-block-end: 6px;
}

.advice__image {
   grid-column: 2 / 3;
   grid-row: 1 / span 2;
}
.advice__image img {
   inline-size: 100%;
   object-fit: cover;
   aspect-ratio: 524 / 540;
}

@media (max-width: 1199.98px) {
   .advice {
      padding-block: 100px 50px;
   }
}
@media (max-width: 991.98px) {
   .advice {
      padding-block: 50px;
   }
   .advice__container {
      row-gap: 5px;
   }
   .advice__page-header {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
   }
   .advice__items {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
   .advice__image {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
   }
}

@media (max-width: 649.98px) {
   .advice {
      padding-block: 20px;
   }
   .advice__container {
      grid-template-columns: 1fr;
      row-gap: 30px;
   }
   .advice__page-header {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
   }
   .advice__items {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
   }
   .advice__image {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
   }
}
@media (max-width: 574.98px) {
   .advice__items {
      flex-direction: column;
      align-items: center;
   }
   .item-advice {
      align-items: flex-start;
      flex-basis: auto;
   }
}
