.footer {
   background-color: #e7ecff;
   padding-block: 61px 36px;
}
.footer__header {
   padding-block-end: 40px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   border-bottom: 1px solid #cdd1d4;
   row-gap: 20px;
}
.header-footer__text {
   font-size: 14px;
   font-weight: 500;
   line-height: 1.7;
   color: #939ea4;
}
.header-footer__logo {
   color: #37447e;
   font-size: 26px;
   font-weight: 900;
   line-height: 1.46;
   padding-inline: 10px;
}
.footer__footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-block-start: 20px;
}
.menu-footer {
   display: flex;
   gap: 60px;
   align-items: center;
}
.menu-footer__item {
   font-size: 14px;
   line-height: 1.7;
   color: #929ecc;
   transition: text-decoration 0.3s;
}
.menu-footer__item:hover a {
   text-decoration: underline;
}
.social-footer {
   display: flex;
   gap: 30px;
   align-items: center;
}
.social-footer__item {
   transition: transform 0.3s;
   inline-size: 16px;
   /* block-size: 16px; */
   aspect-ratio: 1 / 1;
}

.social-footer__item img {
   width: 100%;
   object-fit: cover;
}
.social-footer__item:hover img {
   transform: scale(1.2);
}

@media (max-width: 991.98px) {
   .footer {
      padding-block: 30px;
   }
}
@media (max-width: 767.98px) {
   .footer__footer {
      flex-direction: column;
      row-gap: 20px;
   }
   .menu-footer__item {
      font-size: 18px;
   }
   .social-footer__item {
      inline-size: 32px;
   }
}
@media (max-width: 479.98px) {
   .header-footer {
      flex-direction: column;
   }
   .header-footer__button {
      inline-size: 100%;
      padding-block: 12px 14px;
   }
}
