/* EXPLORE */
.explore {
   padding-block: 140px;
   text-align: center;
}

.explore__page-header {
   text-align: center;
   margin-block-end: 64px;
}
.explore__page-header .page-header__title {
   max-width: 426px;
   margin-inline: auto;
}

.explore__cards {
   display: flex;
   column-gap: 30px;
   justify-content: space-evenly;
   row-gap: 15px;
   flex-wrap: wrap;
}
.explore__cards:not(:last-child) {
   margin-block-end: 48px;
}

.card-explore {
   flex-basis: 370px;
   display: flex;
   flex-direction: column;
   padding: 40px 40px 36px;
   border-radius: 6px;
   border: 1px solid #3a3c56;
   flex-grow: 0;
   flex-shrink: 1;
}
.card-explore__header {
   padding-block-end: 36px;
   display: flex;
   flex-direction: column;
   row-gap: 8px;
}
.date-card-explore {
   display: flex;
   column-gap: 12px;
   text-align: left;
   align-items: flex-start;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.33;
}
.date-card-explore__data {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.11; /* 80/72 */
   letter-spacing: -2px;
}
.date-card-explore__month-and-year {
   text-transform: capitalize;
   padding-top: 5px;
}

.time {
   display: flex;
   align-items: center;
   column-gap: 8px;
   justify-content: start;
   position: relative;
   line-height: 2;
   padding-inline-start: 25px;
}

.time * > span {
   padding-inline-start: 4px;
}
.time__icon {
   position: absolute;
   top: 0;
   left: 0;
   max-width: 16px;
   transform: translateY(16%);
}
.time__icon img {
   max-width: 100%;
   object-fit: contain;
}

.card-explore__content {
   display: flex;
   flex-grow: 1;
   flex-direction: column;
   padding-top: 40px;
   text-align: left;
   border-top: 1px solid #3a3c56;
}
.card-explore__title {
   margin-block-end: 19px;
   font-size: 24px;
   font-weight: 700;
   line-height: 1.33;
}
.card-explore__text {
   line-height: 2;
   flex-grow: 1;
   margin-block-end: 26px;
   color: rgba(255, 255, 255, 0.64);
}
.card-explore__text p:not(:last-child) {
   margin-block-end: 20px;
}
.card-explore__link {
   position: relative;
   width: fit-content;
   line-height: 2;
   text-transform: capitalize;
   transition: all 0.3s ease 0s;
}
.card-explore__link::before {
   content: "";
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   height: 2px;
   background-color: #ffffff;
   transform: scaleX(0);
   transition: transform 0.3s;
   will-change: transform;
   transform-origin: right;
}
.card-explore__link:hover::before {
   transform: scaleX(1);
   transform-origin: left;
}
.explore__button {
   margin: 0 auto;
}
@media (max-width: 1199.98px) {
}
@media (max-width: 991.98px) {
   .explore__page-header {
      margin-block-end: 40px;
   }
}

@media (max-width: 479.98px) {
   .card-explore {
      padding: 20px;
   }
   .card-explore__header {
      padding-block-end: 20px;
   }

   .explore__cards {
      justify-content: center;
   }
}
