/* FOOTER */
.footer {
   padding-block: 30px;
   background: linear-gradient(
      42deg,
      rgba(106, 77, 167, 0.34217436974789917) 12%,
      rgba(110, 67, 201, 0.34217436974789917) 23%,
      rgba(76, 107, 136, 1) 41%,
      rgba(111, 130, 82, 0.7455357142857143) 66%,
      rgba(4, 58, 172, 0.25986078886310904) 95%
   );
}
.footer__container {
   position: relative;
   text-align: center;
   top: 0;
   left: 0;
   right: 0;
}
.footer__text {
   line-height: 1.5;
}
.footer__text p:not(:last-child) {
   margin-block-end: 20px;
}
