@import "variebles.css";
.footer {
   background-color: #132238;
   padding-block: 10rem 3.125rem;
   color: var(--colorWhite);
}
.footer__container {
   display: flex;
   column-gap: 9.375rem;
   row-gap: 2rem;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
.footer__logo {
   color: transparent;
   max-height: 3.5rem;
   transition: all 0.3s ease 0s;
}
.footer__logo .logo__text {
   color: var(--colorWhite);
   font-size: 2rem;
   line-height: 1.25;
}
.footer__logo:hover .logo__icon {
   transform: scale(1.1);
}
.footer__logo:hover .logo__text {
   color: var(--colorMain);
}
.footer__menu {
   flex: 1 1 auto;
}
.footer__menu .menu-footer__list {
   display: flex;
   padding-inline: 0.5rem;
   row-gap: 1rem;
   column-gap: 1.5rem;
   flex-wrap: wrap;
}
.footer__menu .menu-footer__item {
   color: var(--colorWhiteBackground);
   font-size: 1rem;
   text-transform: capitalize;
   line-height: 1.5;
   transition: all 0.3s ease 0s;
}
.footer__copyright {
   flex: 1 1 11.875rem;
   font-size: 1rem;
   color: var(--colorWhite);
   line-height: 1.5;
}
@media (any-hover: hover) {
   .footer__logo:hover .logo__icon {
      transform: scale(1.1);
   }
   .footer__logo:hover .logo__text {
      color: var(--colorMain);
   }
   .menu-footer__item:hover .menu-footer__link {
      text-decoration: underline;
   }
}
@media (max-width: 62.3em) {
   .footer {
      padding-block: 6.25rem 1.25rem;
   }
   .footer__container {
      flex-direction: column;
   }
}
