@import "reset.css";
@import "variables.css";
@import "header.css";
@import "common.css";
@import "hero.css";
@import "presentation.css";
@import "work-process.css";
@import "portfolio.css";
@import "idia.css";
@import "blog.css";
@import "what.css";
@import "happy.css";
@import "contact.css";
@import "footer.css";

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   overflow: clip;
   background-color: var(--colorWhiteBackground);
   color: var(--colorBlackText);
   font-family: "Work Sans", sans-serif;
   font-size: 1.125rem;
   box-sizing: border-box;
}
[class*="__container"] {
   max-width: 1350px;
   margin: 0 auto;
   padding: 0 0.9375rem;
}
main {
   flex-grow: 1;
}
