@import "variables.css";
.work-process {
   padding-block: 248px 140px;
   background-color: var(--colorWhiteBackground);
}
.work-process__container {
   display: flex;
   gap: 143px;
   align-items: center;
}
.work-process__hat {
   flex: 1 1 529px;
}
.work-process__hat.hat {
   row-gap: 24px;
}

.work-process__items {
   flex: 1 1 auto;
   display: flex;
   flex-wrap: wrap;
   gap: 24px;
}
.item-process {
   flex: 1 1 45%;
   aspect-ratio: 312 / 276;
}

.work-process__item:nth-child(odd) {
   margin-block-start: 24px;
}

.item-process__icon {
   flex: 0 1 auto;
}
.item-process__content {
   flex: 1 1 auto;
}
.item-process {
   padding: 2rem;
   background-color: var(--colorWhite);
   border-radius: 0.75rem;
   box-shadow: 2rem 2rem 7.75rem 0rem rgba(43, 56, 76, 0.1);
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   transition: all 0.3s;
}
.item-process__title {
   font-weight: 600;
   line-height: 1.5rem;
   margin-block-end: 0.75rem;
   text-transform: capitalize;
}
.item-process__text {
   font-size: 1rem;
   line-height: 1.5;
   color: var(--colorBlackText);
}

@media (any-hover: hover) {
   .item-process:hover {
      box-shadow: 2px 2px 12px 0px rgba(43, 56, 76, 0.1);
   }
   .item-process:hover svg rect {
      fill: var(--colorMain);
      fill-opacity: 1;
   }
   .item-process:hover svg path {
      fill: var(--colorWhite);
   }
}
@media (max-width: 76.76em) {
   .work-process__container {
      gap: 2.5rem;
   }
   .work-process {
      padding-block: 12.5rem 6.25rem;
   }
}

@media (max-width: 66.25em) {
   .work-process {
      padding-block: 100px 5rem;
   }
   .work-process__container {
      flex-direction: column;
      row-gap: 2.5rem;
   }
   .work-process__hat {
      flex: 1 1 auto;
      inline-size: 65%;
   }
   .work-process__items {
      flex: 1 1 auto;
   }
   .item-process {
      flex: 1 1 45%;
   }
   .work-process__item:nth-child(odd) {
      margin-block-start: 0;
   }
}

@media (max-width: 47.99875em) {
   .work-process {
      padding-block: 60px;
   }
   .work-process__hat {
      inline-size: 85%;
   }
   .work-process__items {
      gap: 16px;
      padding: 15px;
   }
}

@media (max-width: 40em) {
   .work-process {
      padding-block: 30px;
   }
   .work-process__hat {
      inline-size: 100%;
   }
   .work-process__items {
      gap: 16px;
      padding: 15px;
   }

   .item-process {
      max-width: 100%;
      aspect-ratio: auto;
      flex-direction: column;
      padding: 32px 24px;
      column-gap: 24px;
   }
}
@media (max-width: 30em) {
   .work-process__items {
      flex-direction: column;
   }
}
