.hero {
   padding-block: toRem(15);
   &--margineBlockEnd {
      margin-block-end: toRem(50);
   }

   &__container {
   }

   &__title {
      margin-block-end: toRem(15);
   }

   &__search {
   }
}

.search-hero {
   display: flex;
   column-gap: 6px;
   align-items: center;
   max-width: 100%;
   margin-inline: auto;
   &__input {
      flex-grow: 1;
      display: flex;
      align-items: center;
      column-gap: toRem(20);
      padding-block: toRem(8);
      font-size: toRem(14);
      border: 1px solid #364d44;
      border-radius: 15px;
      padding-inline: toRem(18) toRem(10);
      @media (max-width: 22.375em) {
         column-gap: toRem(0);
         padding-inline: toRem(10) toRem(10);
         font-size: toRem(16);
      }
      input {
         border: none;
         outline: none;
         flex-grow: 1;
      }
   }

   .input-search-hero__img {
      max-height: toRem(24);
      max-width: toRem(24);
      img {
         width: 100%;
         object-fit: cover;
      }
   }

   &__button {
      background-color: #334a41;
      padding: toRem(14);
      border-radius: toRem(15);
      flex-basis: 52px;
      max-height: 52px;
      flex-grow: 0;
      img {
         width: 100%;
         object-fit: cover;
         aspect-ratio: 1 / 1;
      }
   }
}
