.products {
   &__container {
   }
}
.products__item {
   &:not(:last-child) {
      margin-block-end: toRem(20);
   }
}
.item-product {
   &__header {
      max-width: 94%;
      margin-inline: auto;
      margin-block-end: toRem(17);
   }

   &__slider {
   }
}
.header-item-product {
   display: flex;
   justify-content: space-between;
   &__title {
   }

   &__link {
   }
}

.slider {
   display: flex;
   align-items: center;
   column-gap: toRem(17);
   overflow-x: auto;
   scroll-behavior: smooth;
   &::-webkit-scrollbar {
      display: none;
   }
   &__item {
   }
}
.item-slider {
   flex: 0 0 auto;
   width: 40%;
   text-align: center;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: toRem(14);

   &__title {
      color: $black;
      line-height: 1.02;
      font-weight: 700;
   }

   &__img {
      max-width: toRem(153);
      aspect-ratio: 153 / 223;
      border-radius: toRem(25);
      overflow: hidden;
      transition: transform 0.3s ease;
      img {
         width: 100%;
         object-fit: cover;
      }
      @media (any-hover: hover) {
         &:hover {
            cursor: pointer;
            transform: scale(1.05);
         }
      }
   }
}
