@import url("https://fonts.googleapis.com/css?family=Poppins:200,regular,500,600,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Karla:regular,700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

table {
  inline-size: 100%;
  border-collapse: collapse;
}

.button {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: normal;
  text-transform: uppercase;
  color: #fff; /* #FFFFFF */
  background-color: #364d44;
  border-radius: 1.5625rem;
  padding: 0.5rem 1.25rem;
  text-transform: uppercase;
  cursor: pointer;
}
.button-actions {
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.button-actions img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .button-actions:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.button-actions--scan {
  background-color: #334a41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.9375rem;
  max-height: 52px;
  max-width: 52px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  aspect-ratio: 1/1;
}

.errow-link {
  max-width: 1.5rem;
  max-height: 1.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.errow-link img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .errow-link:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.errow-link--prewious {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (any-hover: hover) {
  .errow-link--prewious:hover {
    cursor: pointer;
    -webkit-transform: rotate(180deg) scale(1.05);
        -ms-transform: rotate(180deg) scale(1.05);
            transform: rotate(180deg) scale(1.05);
  }
}

.title {
  font-size: 1.5rem;
  line-height: 1.7; /* 41/24 */
}
.title--product {
  font-size: 1.875rem;
  font-weight: 700;
  line-height: 1.02;
  letter-spacing: 1.05px;
}

.logo {
  font-family: "Poppins", sans-serif;
  border: 0.5px solid rgba(0, 0, 0, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 6.375rem;
  min-height: 2.85625rem;
}
.logo span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: hsla(0, 0%, 0%, 0.8);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.6%;
          flex: 0 1 16.6%;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.modal {
  padding-block: 1.5rem 0.75rem;
  border-radius: 1.5625rem;
  -webkit-box-shadow: 0px -3px 25px 5px rgba(0, 88, 171, 0.07);
          box-shadow: 0px -3px 25px 5px rgba(0, 88, 171, 0.07);
  background-color: #fff;
  margin-inline: auto;
}
.modal__actions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 1.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.modal__icon {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.modal__icon img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .modal__icon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.modal__icon-home {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.375rem;
     -moz-column-gap: 0.375rem;
          column-gap: 0.375rem;
  -webkit-padding-after: 1.0625rem;
          padding-block-end: 1.0625rem;
  border-bottom: 2px solid #000;
}
.modal__icon-home span {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (any-hover: hover) {
  .modal__icon-home:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.expland {
  -webkit-padding-before: 0.875rem;
          padding-block-start: 0.875rem;
}
.expland__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  row-gap: 0.625rem;
  -webkit-margin-after: 1.75rem;
          margin-block-end: 1.75rem;
}
.expland__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}
.expland__item {
  background-color: #364d44;
  border-radius: 0.9375rem;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 1.25rem;
          padding-inline-start: 1.25rem;
  color: #fff;
  font-size: 0.875rem;
}

.header {
  padding-block: 1.4375rem 0.75rem;
  border-bottom: 1px solid rgba(4, 33, 21, 0.2);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.actions-header {
  padding-inline: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.875rem;
     -moz-column-gap: 0.875rem;
          column-gap: 0.875rem;
}
.actions-header__item {
  max-width: 2.125rem;
  max-height: 2.125rem;
  padding: 0.125rem;
}

.search {
  padding-block: 0.9375rem;
}
.search--margineBlockEnd {
  -webkit-margin-after: 3.125rem;
          margin-block-end: 3.125rem;
}
.search__title {
  -webkit-margin-after: 0.9375rem;
          margin-block-end: 0.9375rem;
}
.actions-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-inline: auto;
}
.actions-search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input-actions-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  padding-block: 0.5rem;
  font-size: 0.875rem;
  border: 1px solid #364d44;
  border-radius: 15px;
  padding-inline: 1.125rem 0.625rem;
}
@media (max-width: 23.4375em) {
  .input-actions-search {
    -webkit-column-gap: 0.3125rem;
       -moz-column-gap: 0.3125rem;
            column-gap: 0.3125rem;
    padding-inline: 0.4375rem 0.625rem;
    font-size: 1rem;
  }
}
.input-actions-search input {
  border: none;
  outline: none;
  width: 100%;
}
.input-actions-search__img {
  padding: 0.1875rem;
  max-height: 1.5rem;
  max-width: 1.5rem;
}
.input-actions-search__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.products__item:not(:last-child) {
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
}

.item-product__header {
  max-width: 94%;
  margin-inline: auto;
  -webkit-margin-after: 1.0625rem;
          margin-block-end: 1.0625rem;
}
.header-item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.0625rem;
     -moz-column-gap: 1.0625rem;
          column-gap: 1.0625rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.slider::-webkit-scrollbar {
  display: none;
}
.item-slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.875rem;
}
.item-slider__title {
  color: #000;
  line-height: 1.02;
  font-weight: 700;
}
.item-slider__img {
  max-width: 9.5625rem;
  aspect-ratio: 153/223;
  border-radius: 1.5625rem;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.item-slider__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (any-hover: hover) {
  .item-slider__img:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.main--search .hero .search-hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-after: 1.375rem;
          padding-block-end: 1.375rem;
  border-bottom: 1px solid rgba(4, 33, 21, 0.2);
}
.main--search .hero .search-hero__input {
  font-size: 1rem;
  padding-block: 0.625rem;
}
.main--search .hero .search-hero__button {
  -ms-flex-item-align: center;
      align-self: center;
  background-color: transparent;
  -ms-flex-preferred-size: 3.125rem;
      flex-basis: 3.125rem;
  max-height: 5.125rem;
}
.main--search .hero .search-hero__button img {
  aspect-ratio: auto;
}
.main--search .hero .search-hero ._active img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
.main--search .hero__body {
  -webkit-padding-before: 1.125rem;
          padding-block-start: 1.125rem;
}
.main--search .body-hero__items {
  padding-block: 1.25rem 0.625rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9.5625rem, 1fr));
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.25rem;
  justify-items: center;
  grid-auto-flow: row dense;
}
@media (max-width: 23.375em) {
  .main--search .body-hero__items {
    -webkit-column-gap: 0.625rem;
       -moz-column-gap: 0.625rem;
            column-gap: 0.625rem;
    row-gap: 0.9375rem;
  }
}
.main--search .body-hero__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.4375rem;
}
.main--search .body-hero__img {
  position: relative;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 14rem;
      flex-basis: 14rem;
  border-radius: 1.5625rem;
  overflow: hidden;
  aspect-ratio: 153/223;
}
.main--search .body-hero__img::before {
  content: "";
  position: absolute;
  right: 6px;
  bottom: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #fff;
  z-index: 5;
  -webkit-filter: blure(5px);
          filter: blure(5px);
  overflow: hidden;
}
.main--search .body-hero__img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18px;
  height: 18px;
  background-image: url("../../img/icons/Heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 6;
}
.main--search .body-hero__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main--search .body-hero__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 56px;
      flex-basis: 56px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-padding-start: 0.75rem;
          padding-inline-start: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.4375rem;
  color: #000;
  font-family: "Poppins", sans-serif;
}
.main--search .body-hero__size {
  font-size: 0.75rem;
  letter-spacing: 0.02625rem;
  line-height: 1.02;
}
.main--search .body-hero__title {
  font-size: 1rem;
  font-weight: 700;
}
.main--search .body-hero__price {
  font-size: 0.875rem;
  letter-spacing: 0.02625rem;
  line-height: 1.02;
}

.exit {
  padding-block: 1.1875rem;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  min-height: 100vw;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
[class*=__container] {
  max-width: 414px;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
@media (max-width: 25.875em) {
  [class*=__container] {
    padding: 0 0.625rem;
  }
}
@media (max-width: 23.4375em) {
  [class*=__container] {
    padding: 0 0.3125rem;
  }
}