@use "_functions" as *;

// points

$phone: toEm(414);
$phone-small: toEm(375);

// colors
$white: #fff;
$black: #000;
$orange: #ff6b09;
$grey: #f1f1f1;
$dark-grey: #4d4d4d;
$backgroundBtn: #364d44;

// fonts
$main-font: "Poppins", sans-serif;
$second-font: "Karla", sans-serif;

// max-width
$maxWidth: 414px;
// min-width
$minWidth: 320px;
