@import "_reset";
@import "_fonts";
@import "utils/_variables";
@import "utils/_functions";
@import "components/_common";
@import "components/_header";
@import "components/_search";
@import "components/_products";
@import "components/_footer";
@import "components/_main--search";
@import "components/_my-pages";

body {
   font-family: $main-font;
}
.wrapper {
   min-height: 100vw;
   overflow: clip;
   display: flex;
   flex-direction: column;

   .main {
      // flex-grow: 1;
   }
}
[class*="__container"] {
   max-width: $maxWidth;
   margin: 0 auto;
   padding: 0 toRem(15);
   @media (max-width: $phone) {
      padding: 0 toRem(10);
   }
   @media (max-width: $phone-small) {
      padding: 0 toRem(5);
   }
}
