.discuss {
   padding-block: 50px;
}

.discuss .discuss__container {
   padding: 88px;
   display: flex;
   justify-content: space-between;
   border-radius: 15px;
   box-shadow: 0px 59px 124px 0px rgba(0, 0, 0, 0.12);
   background-color: #fff;
}
.discuss__content {
   flex-basis: 481px;
   flex-grow: 0;
}

/* discuss__content*/
.content-discuss__header {
   display: flex;
   flex-direction: column;
   gap: 16px;
}
.content-discuss {
   display: flex;
   flex-direction: column;
   gap: 35px;
}
.discuss__title {
   color: #132238;
   font-size: 38px;
   font-weight: 600;
   line-height: 1.31;
}
.discuss__text {
   line-height: 1.33;
}

/* content-discuss__information*/
.content-discuss__information {
   display: flex;
   flex-direction: column;
   gap: 12px;
}
.item-information {
   display: flex;
   gap: 13px;
   align-items: center;
   padding: 24px;
}
.item-information__icon {
   width: 48px;
   height: 48px;
   padding: 12px;
   border-radius: 4px;
   background-color: rgba(237, 216, 255, 0.5);
}
.item-information__icon svg {
   width: 24px;
   height: 24px;
}
.item-information__icon path {
   fill: #a53dff;
}
.item-information__icon--active {
   background-color: #a53dff;
}
.item-information__icon--active path {
   fill: #fff;
}
.item-information__content {
   display: flex;
   flex-direction: column;
   gap: 4px;
}
.item-information__label {
   font-size: 14px;
   line-height: 1.4;
}
.item-information__title {
   color: #132238;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}
.social {
   display: flex;
   gap: 12px;
   align-items: center;
}
.social__item-link {
   width: 48px;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border-radius: 4px;
   background-color: #fff;
}
.social__item-icon {
   width: fit-content;
}
.social__item-icon path {
   fill: #a53dff;
}
.social__item-link:not(.social__item-link--active):hover .social__item-icon {
   transform: scale(1.2);
}
.social__item-link--active {
   background-color: #a53dff;
   box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
}
.social__item-link--active .social__item-icon path {
   fill: #fff;
}

/* discuss__form*/

.discuss__form {
   flex-basis: 560px;
   flex-grow: 0;
   padding-top: 26px;
}
.form {
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.form__inputs {
   display: flex;
   /* flex-direction: column; */
   row-gap: 24px;
   flex-wrap: wrap;
}
.form__input {
   flex: 0 1 100%;
}
.form__input input,
.form__input textarea {
   padding-bottom: 14px;
   border-bottom: 1.5px solid #e6e8eb;
}
.form__input textarea {
   min-height: 18px;

   border-radius: 6px;
}
.form__input--short input {
   padding-bottom: 14px;
   border-bottom: 1.5px solid #e6e8eb;
}
.form__input--short {
   flex-grow: 1;
}
.form__input + .form__input--short {
   flex: 0 1 200px;
   padding-right: 24px;
}

input:focus {
   outline: none;
   border-bottom: 1.5px solid #a53dff;
   color: #a53dff;
}

input:focus::placeholder {
   color: #a53dff;
}

.form__input textarea:focus {
   display: inline-block;
   outline: none;
   border-radius: 6px;
   border-bottom: 1.5px solid #a53dff;
   resize: vertical;
   background-color: #d5dbe0;
   color: #a53dff;
   font-size: 20px;
}

.button-form {
   position: relative;
   display: inline-flex;
   vertical-align: middle;
   font-weight: 600;
   background-color: #a53dff;
   border-radius: 4px;
   width: 140px;
   height: 48px;
   color: #fff;
   line-height: 1.5;
   padding-right: 24px;
   transition:
      background-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
   z-index: 1;
}
.button-form button[type="submit"] {
   padding-left: 24px;
}

.button-form__icon {
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
   max-width: 24px;
}

.button-form:hover {
   background-color: #4f048d;
   box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
   cursor: pointer;
}
