.header {
   width: 100%;

   max-width: 100%;
   padding-block: 20px;
   background: radial-gradient(
      circle,
      rgba(23, 21, 55, 1) 0%,
      rgba(121, 57, 24, 0.9066001400560224) 84%,
      rgba(0, 212, 255, 0.33410672853828305) 100%
   );
   text-align: center;

   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
h1 {
   font-size: 41px;
   font-weight: 600;
   line-height: 1.17; /* 56/48 */
}
h1 span {
   color: #00ff81;
}
